.edit-user {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.message.success {
    color: green; 
    font-weight: bold;
    margin-top: 10px; 
}

/* Stil za poruke o grešci */
.message.error {
    color: red; 
    font-weight: bold;
    margin-top: 10px;
}

  