<div class="search-filter-container">
	<mat-form-field class="search-input">
	  <input matInput placeholder="Search by Name" [(ngModel)]="searchTerm" (ngModelChange)="onSearch()">
	</mat-form-field>
	<mat-form-field class="filter-select">
	  <mat-select placeholder="Filter by Category" [(ngModel)]="selectedCategory" (ngModelChange)="onSearch()">
		<mat-option *ngFor="let category of recipeCategories" [value]="category">{{ category }}</mat-option>
	  </mat-select>
	</mat-form-field>
  </div>
  
  <div fxLayout="column" class="service-card-content">
	<div fxLayout="column" class="service-card-container" fxLayout.lt-md="row wrap" fxLayoutGap="20px">
	  <div *ngFor="let recipe of filteredRecipes" fxFlex.lt-md="100" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" class="mat-elevation-z4 service-card" (click)="showRecipeDetails(recipe.id)">
		<div fxFlex.gt-sm="33" fxLayout="column" fxLayoutAlign="start center">
		  <h3 class="mat-title">{{ recipe.name }}</h3>
		  <img [src]="recipe.imageUrl" style="max-width: 200px; max-height: 200px;">
		</div>
		<div fxFlex.gt-sm="67" fxLayout="column" fxLayoutAlign="start center">
		  <mat-label>Category:</mat-label>
		  <p class="mat-body-2">{{ recipe.category }}</p>
		</div>
		<div fxFlex.gt-sm="67" fxLayout="column" fxLayoutAlign="start center">
		  <mat-label>Description:</mat-label>
		  <p class="mat-body-2">{{ recipe.description }}</p>
		</div>
		<div fxFlex.gt-sm="67" fxLayout="column" fxLayoutAlign="start center">
		  <mat-label>Add to favourites</mat-label>
		  <mat-icon [class.favorite]="recipe.favourite" (click)="toggleFavorite(recipe.id, $event)" style="cursor: pointer;">star</mat-icon>
		</div>
		<div fxFlex.gt-sm="67" fxLayout="column" fxLayoutAlign="start center">
		  <mat-label>Ingredients:</mat-label>
		  <ul>
			<li *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} ({{ ingredient.quantity }})</li>
		  </ul>
		</div>
	  </div>
	</div>
  </div>
  