<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="background-image:url('../../../assets/login11.jpg');
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover; ">
    <div fxLayout="column" >
   
        <div class=" mat-elevation-z4">
            <mat-card>
                <mat-card-title>Register an account
                </mat-card-title>
                <mat-card-content>
    <form fxLayout="column" fxLayoutAlign="start stretch" (ngSubmit)="register()" [formGroup]="registrationForm">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" id="username" type="text" required>
        <mat-error *ngIf="registrationForm.get('username')?.hasError('required') && registrationForm.get('username')?.touched">
          Username is required
        </mat-error>
        <mat-error *ngIf="registrationForm.get('username')?.hasError('minlength') && registrationForm.get('username')?.touched">
          Username must contain more than 2 characters.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstname" id="firstname" type="text" required>
        <mat-error *ngIf="registrationForm.get('firstname')?.hasError('required') && registrationForm.get('firstname')?.touched">
          Name is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname" id="lastname" type="text" required>
        <mat-error *ngIf="registrationForm.get('lastname')?.hasError('required') && registrationForm.get('lastname')?.touched">
          Lastname is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" id="email" type="email" required>
        <mat-error *ngIf="registrationForm.get('email')?.hasError('required') && registrationForm.get('email')?.touched">
          Email is required.
        </mat-error>
        <mat-error *ngIf="registrationForm.get('email')?.hasError('email') && registrationForm.get('email')?.touched">
          Please enter valid email address.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" id="password" type="password" required>
        <mat-error *ngIf="registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched">
          Password is required.
        </mat-error>
        <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength') && registrationForm.get('password')?.touched">
          Password must contain more than 7 characters.
        </mat-error>
      </mat-form-field>

      <div class="text-center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!registrationForm.valid">Registracija</button>
      </div>
    </form>
    </mat-card-content>
</mat-card>
</div>
